[run]
branch = True

[report]
omit =
    evoagentx/optimizers/aflow_optimizer.py
    evoagentx/optimizers/sew_optimizer.py
    evoagentx/optimizers/textgrad_optimizer.py
    evoagentx/optimizers/optimizer.py
    evoagentx/utils/aflow_utils/*
    evoagentx/utils/sanitize.py
    evoagentx/utils/utils.py
    evoagentx/**/__init__.py
